html,
body {
    height: 100%;
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top nav panel style */
.topnav a {
    text-decoration: none;
    font-size: 20px;
    transition-duration: 250ms;
}

.topnav a:hover {
  background-color: #4CAF50;
}
/*---------------------*/

/* Picture carousel animation style */
.carousel-item {
    transition: all 1.5s ease-out;
}


/* Main page switcher style */
.switcher a {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 30px;
    font-weight: bold;
    transition-duration: 250ms;
}

.switcher a:hover {
    color: #4CAF50;
}
/*--------------------------*/

/* Profile information window style */
.profileNav .nav-link {
    color: black;
}

.profileNav .nav-link.active {
    color: #16bd6f;
    background-color: #41464b;
    border-color: #41464b;
    box-shadow: 0px 10px 15px #cbcbcb;
}


.profileNav h5 {
    font-weight: bold;
}

.profileNav p {
    margin: 8px;
}

.profileInfoBox {
    margin-top: 16px;
    padding: 0;
    background-color: #f8f9fa;
}

.profileInfoBox img {
    width: 90px; 
    height: 90px;
}

.profileInfoBox h5{
    padding: 8px;
    border: solid;
    border-color: #acacac;
    background-color: #acacac;
}

.flexibleCard {
    margin-left: 4.165%;
    margin-right: 4.165%;
}
/*----------------------------------*/

.btn {
    transition: all;
    transition-duration: 250ms;
}